# CodeCoverage result can be found at https://coveralls.io/github/HDFGroup/hermes

name: GitHub Actions

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug
  LOCAL: local

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Get Sources
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v4

      - name: Run cpplint
        run: pip install cpplint==1.5.4 && bash scripts/lint.sh `pwd`

      - name: Cache Spack packages
        uses: actions/cache@v3
        id: spack-cache
        with:
          path: ~/spack
          key: ${{ runner.os }}-${{ hashFiles('scripts/ci/install_deps.sh') }}

      - name: Install APT Dependencies
        run: |
          sudo apt update
          sudo apt-get install -y autoconf
          sudo apt-get install -y automake
          sudo apt-get install -y libtool
          sudo apt-get install -y libtool-bin
          sudo apt-get install -y mpich
          sudo apt-get install -y lcov
          sudo apt-get install -y zlib1g-dev
          sudo apt-get install -y libsdl2-dev

      - name: Build And Install Dependencies
        if: steps.spack-cache.outputs.cache-hit != 'true'
        run: bash scripts/ci/install_deps.sh

      - name: Build and Test HSHM
        run: bash scripts/ci/install_hshm.sh

      - name: Install
        run: cd build && make install

      - name: Generate coverage file
        run: bash scripts/ci/coverage.sh

      - name: Coveralls
        uses: coverallsapp/github-action@main
        with:
          path-to-lcov: coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
